source https://nuget.org/api/v2

storage:none
framework:netstandard2.0

clitool dotnet-fable prerelease
nuget FSharp.Core redirects:force, content:none
nuget Fable.Core prerelease
nuget Fable.Elmish.React prerelease
nuget Fable.Elmish.Browser prerelease
nuget Fable.Elmish.HMR prerelease
nuget Fable.React prerelease
nuget Fulma prerelease
nuget Fulma.Extensions prerelease
nuget Thoth.Json prerelease
nuget Fable.PowerPack prerelease
nuget Fable.Import.Node

group Build
    source https://nuget.org/api/v2
    framework: net46
    nuget FAKE ~> 4
